/* All utilities classes are defined here */
/* use this ext to convert px to rem https://marketplace.visualstudio.com/items?itemName=sainoba.px-to-rem */

/** Display **/
.grid
  display: grid
.flx
  display: flex
.flxi
  display: inline-flex
.flx-wrap
  flex-wrap: wrap
.jc-cen
  justify-content: center
.jc-sb
  justify-content: space-between
.jc-sa
  justify-content: space-around
.jc-se
  justify-content: space-evenly
.jc-end
  justify-content: flex-end
.ai-cen
  align-items: center
.ai-start
  align-items: flex-start
.ai-end
  align-items: flex-end
.flx-cen
  justify-content: center
  align-items: center
.flx-col
  flex-direction: column
.flx-row
  flex-direction: row
.flx-rr
  flex-direction: row-reverse
.flx-cr
  flex-direction: column-reverse
// .gap-1
//   gap: 0.3125rem
// .gap-2
//   gap: 0.625rem
// .gap-3
//   gap: 0.9375rem
// .gap-4
//   gap: 1.25rem
// .gap-5
//   gap: 1.5625rem
.col-gap-1
  column-gap: 0.3125rem
.col-gap-2
  column-gap: 0.625rem
.col-gap-3
  column-gap: 0.9375rem
.col-gap-4
  column-gap: 1.25rem
.col-gap-5
  column-gap: 1.5625rem
.row-gap-1
  row-gap: 0.3125rem
.row-gap-2
  row-gap: 0.625rem
.row-gap-3
  row-gap: 0.9375rem
.row-gap-4
  row-gap: 1.25rem
.row-gap-5
  row-gap: 1.5625rem
.d-ib
  display: inline-block
.d-b
  display: block
.d-inherit
  display: inherit

/** Fonts **/
.fw-el
  font-weight: var(--font-weight-extralight)
.fw-nor
  font-weight: var(--font-weight-normal)
.fw-med
  font-weight: var(--font-weight-medium)
.fw-sb
  font-weight: var(--font-weight-semibold)
.txt-xs
  font-size: 0.75rem
.txt-sm
  font-size: 0.875rem
.txt-md
  font-size: 1rem

/** Text **/
.ta-cen
  text-align: center

.pos-abs
  position: absolute
.pos-rel
  position: relative
.pos-fixed
  position: fixed


.t-0
  top: 0

.pointer
  cursor: pointer

.list-none
  list-style-type: none

.svgIcn
  fill: none
  stroke: currentColor
  stroke-linecap: round
  stroke-linejoin: round

.w-100
  width: 100%
